doctype html
html(lang="en")
    head
        title="File metadata microservice"
        link(href='https://www.dcmf.hu/favicon.ico' rel='icon')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet")
        link(href='/css/styles.css', rel='stylesheet')
    body
        div.container-fluid.d-flex.flex-column.justify-content-between.align-items.end.bg-secondary
            div.row.justify-content-center.h-100
                div.col-12.col-md-10.col-lg-8.col-xl-6.align-tiems-center.d-flex.flex-column.justify-content-center.h-100
                    div.card
                        div.card-body
                            h1.mb-0 File metadata microservice
                            h6 (freeCodeCamp backend project)
                            h4.pt-3  User stories:
                            ul
                                li You can submit a FormData object that includes a file upload. (max 10Mb)
                                li When you submit something, you will receive the file size in bytes within the JSON response
                            form(action="/" method="post" enctype="multipart/form-data")
                                div.form-row.pt-4
                                    div.col-6.text-center
                                        label.btn.btn-outline-warning(for="file") Select a file
                                        input.d-none(
                                            type="file"
                                            name="file"
                                            id="file"
                                            required
                                        )
                                    div.col-6.text-center
                                        button.btn.btn-outline-primary(type="submit") upload
            div.row.justify-content-center
                footer.col-12.bg-dark.text-white.text-center
                    p codedBy
                        a(href="https://www.dcmf.hu" target="_blank") #[img(src="https://www.dcmf.hu/images/dcmf-letters.png" alt="David's Code ManuFactory logo")]
            script(src="/js/scripts.js")